<ul>
  <% boards.each(function(board) { %>
    <li><%= board.escape("title") %></li>
  <% }); %>
    <li class="new-board-form">
      <button class="btn-create-board">Create</button>
    <li>
</ul>

