/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

* {
  list-style: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.backdrop {
  margin-top: 70px;
}

.btn-delete-board {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.list-board {
  position: relative;
  float: left;
  margin: 15px;
  padding: 5px;
  width: 200px;
  min-height: 50px;
  border: thin solid grey;
}

.back-link {
  
}

.btn-delete-card {
  background-color: white;
  color: grey;
  border: thin solid lightgrey;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-list:hover .btn-delete-card {
  opacity: 1;
}

.card-list {
  border: thin solid grey;
  padding: 5px;
}

.btn-delete-list {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.board-list {
  position: relative;
  float: left;
  margin: 15px;
  padding: 5px;
  width: 200px;
  min-height: 50px;
  border: thin solid grey;
}