<form class="form-new-list">
  <label>Order<input type="text" class="new-list-order" name="order">
  </label>
  <label>Title<input type="text" class="new-list-title" name="title">
  </label>
  <button>Create</button>
</form>
